<template>
  <div class="home">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_active">
          <div class="weui-cell__hd">
            <span class="requiredPoint">*</span>
            <label class="weui-label">设备号</label>
          </div>
          <div class="weui-cell__bd">
            <input
              id="js_input"
              class="weui-input"
              placeholder="请扫描机身编码"
              disabled
            />
            <div class="deviceSaomiao" @click="scanQRcode">
              <img :src="require('@/assets/image/saomiao.png')" alt="" />
            </div>
          </div>
        </div>
        <div class="weui-cell weui-cell_active">
          <div class="weui-cell__hd">
            <span class="requiredPoint">*</span>
            <label class="weui-label">经纬度</label>
          </div>
          <div class="weui-cell__bd">
            <input id="js_input" v-model="lnglat" disabled class="weui-input" />
            <div class="devicelnglat">
              <img :src="require('@/assets/image/dingwei.png')" alt="" />
            </div>
          </div>
        </div>
        <div class="weui-cell weui-cell_uploader">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">现场照片</p>
            </div>
            <div class="weui-uploader__bd">
              <div class="uploadImglist">
                <div
                  class="uploadImg"
                  v-for="(item, index) in singleDeviceInfo.filePaths"
                  :key="index"
                >
                  <div class="closeimg" @click="deleteImg(index)">
                    <img :src="require('@/assets/image/close.png')" alt="" />
                  </div>
                  <img
                    style="width: 100%; margin-bottom: 5px"
                    :src="imgPrefix + item"
                    alt=""
                  />
                </div>
              </div>
              <div class="weui-uploader__input-box">
                <input
                  id="uploaderInput"
                  class="weui-uploader__input"
                  type="file"
                  accept="image/*"
                  multiple
                  @change="getFile"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="border-con">
          <div
            class="weui-cell weui-cell_active"
            v-for="(item, index) in addressArr"
            :key="index"
            @click="getDistrict"
          >
            <div class="weui-cell__hd">
              <span class="requiredPoint">*</span>
              <label class="weui-label">所属区域</label>
            </div>
            <div class="weui-cell__bd">
              <input
                id="js_input"
                class="weui-input"
                placeholder="请选择所属区域"
              />
            </div>
          </div>
          <div class="addAddress">
            <button @click="addAddress">+</button>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd">
              <span class="requiredPoint">*</span>
              <label class="weui-label">安装地址</label>
            </div>
            <div class="weui-cell__bd">
              <input
                id="js_input"
                class="weui-input"
                placeholder="请输入安装位置"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 1em 0 1em">
      <a
        href="javascript:"
        class="weui-btn weui-btn_primary"
        @click="bindDevice"
        >绑定按钮</a
      >
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      lnglat: "",
      singleDeviceInfo: {
        fillpath: [],
      },
      addressArr: [{}],
    };
  },
  name: "Home",
  components: {},
  methods: {
    scanQRcode() {},
    getFile() {},
    deleteImg() {},
    getDistrict() {},
    addAddress() {
      this.addressArr.push({});
    },
    bindDevice(){}
  },
};
</script>
<style lang='less' scoped>
.deviceSaomiao {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  line-height: 70px;
  img {
    width: 25px;
    height: 25px;
  }
}
.devicelnglat {
  position: absolute;
  top: 0;
  right: 25px;
  height: 100%;
  line-height: 70px;
  img {
    width: 18px;
    height: 25px;
  }
}
.requiredPoint {
  color: crimson;
  display: inline-block;
  position: absolute;
  left: -0.5rem;
}
.border-con {
  border: 1px solid #f6f6f6;
}
.addAddress {
  margin-top: 20px;
  button {
    width: 50%;
    line-height: 25px;
    border: 1px solid #f6f6f6;
    color: #fff;
    font-size: 25px;
  }
}

</style>
<style lang='less'>
.weui-cell__hd {
  position: relative;
}
.weui-cells {
  margin-top: 0;
}
.weui-cells__group_form .weui-label {
  max-width: 6em !important;
  text-align: left;
}
.weui-cells__group_form .weui-cell__bd {
  text-align: left;
  color: #333;
}
.weui-uploader__title {
  text-align: left;
}
</style>
